In [1]:
cities = ["Москва", "Анапа", "Сочи", "Санкт-Петербург"]
print(cities)

['Москва', 'Анапа', 'Сочи', 'Санкт-Петербург']

In [2]:
for city in cities:
    print(city)

Москва
Анапа
Сочи
Санкт-Петербург

In [3]:
for city in cities:
    print("process city", city)
    if len(city) < 5:
        print("city with less than 5 symbols:", city)
        break
    print("next iteration..")

process city Москва
next iteration..
process city Анапа
next iteration..
process city Сочи
city with less than 5 symbols: Сочи

In [4]:
fruits = ["apples", "bananas", "oranges"]
print(fruits)

['apples', 'bananas', 'oranges']

In [5]:
for fruit in fruits:
    print("process fruit", fruit)

    if len(fruit) < 5:
        print("breaking on", fruit)
        break
    
    print("next iteration..")
print("finished cycle for")

process fruit apples
next iteration..
process fruit bananas
next iteration..
process fruit oranges
next iteration..
finished cycle for

In [6]:
fruits.append("figs")

In [7]:
fruits

['apples', 'bananas', 'oranges', 'figs']

In [10]:
for fruit in fruits:
    print("process fruit", fruit)
    if len(fruit) < 5:
        break
else:
    print("end of loop. no break")

process fruit apples
process fruit bananas
process fruit oranges
process fruit figs

In [11]:
for fruit in fruits:
    print("process fruit", fruit)
    if len(fruit) < 4:
        break
else:
    print("end of loop. no break")

process fruit apples
process fruit bananas
process fruit oranges
process fruit figs
end of loop. no break

In [12]:
for city in cities:
    print("process city", city)
    if len(city) < 5:
        break
else:
    print("finished w/o break")

process city Москва
process city Анапа
process city Сочи

In [13]:
for city in cities:
    print("process city", city)
    if len(city) < 4:
        break
else:
    print("finished w/o break")

process city Москва
process city Анапа
process city Сочи
process city Санкт-Петербург
finished w/o break

In [14]:
for i in range(5):
    print(i)
else:
    print("done")

0
1
2
3
4
done

In [15]:
for i in range(5):
    print(i)
print("done")

0
1
2
3
4
done

In [16]:
# for <new_variable> in <iterable>:
#     pass

print(cities)

['Москва', 'Анапа', 'Сочи', 'Санкт-Петербург']

In [17]:
cities[0]

'Москва'

In [18]:
cities[1]

'Анапа'

In [19]:
len(cities)

4

In [20]:
cities[3]

'Санкт-Петербург'

In [21]:
for my_city in []:
    print("my city", my_city)
    break
else:
    print("no break")

no break

In [23]:
for my_city in ["NY", "NO"]:
    print("my city", my_city)
    break
else:
    print("no break")

my city NY

In [24]:
my_city

'NY'

In [25]:
first_city = None
print(first_city)

None

In [26]:
for another_city in []:
    first_city = another_city
    break
else:
    print("no break")

print(first_city)

no break
None

In [27]:
for another_city in ["Moscow", "Sochi"]:
    first_city = another_city
    break
else:
    print("no break")

print(first_city)

Moscow

In [28]:
for another_city in ["Moscow", "Sochi"]:
    first_city = another_city
else:
    print("no break")

print(first_city)

no break
Sochi

In [29]:
2 ** 5

32

In [30]:
2 ** 6

64

In [31]:
power = 0
value = 0

while value < 10000:
    # power = power + 1
    power += 1
    value = 2 ** power
    print("value =", value, "when power is", power)

print("result 2 ^", power, "=", value)

value = 2 when power is 1
value = 4 when power is 2
value = 8 when power is 3
value = 16 when power is 4
value = 32 when power is 5
value = 64 when power is 6
value = 128 when power is 7
value = 256 when power is 8
value = 512 when power is 9
value = 1024 when power is 10
value = 2048 when power is 11
value = 4096 when power is 12
value = 8192 when power is 13
value = 16384 when power is 14
result 2 ^ 14 = 16384

In [32]:
2 ** 14

16384

In [33]:
i = 0
total_amount = 0

while total_amount < 100:
    i += 1
    total_amount += i
    print(i, ": amount is", total_amount)
else:
    print("finished loop by condition")

1 : amount is 1
2 : amount is 3
3 : amount is 6
4 : amount is 10
5 : amount is 15
6 : amount is 21
7 : amount is 28
8 : amount is 36
9 : amount is 45
10 : amount is 55
11 : amount is 66
12 : amount is 78
13 : amount is 91
14 : amount is 105
finished loop by condition

In [34]:
print(i)

14

In [35]:
i = 0
total_amount = 0

while total_amount < 100:
    i += 1
    total_amount += i
    print(i, ": amount is", total_amount)
    if i == 7:
        break
else:
    print("finished loop by condition")

print("total amount", total_amount)

1 : amount is 1
2 : amount is 3
3 : amount is 6
4 : amount is 10
5 : amount is 15
6 : amount is 21
7 : amount is 28
total amount 28

In [36]:
i = 0
total_amount = 0

while total_amount < 100:
    i += 2
    total_amount += i
    print(i, ": amount is", total_amount)
    if i == 7:
        break
else:
    print("finished loop by condition")

print("total amount", total_amount)

2 : amount is 2
4 : amount is 6
6 : amount is 12
8 : amount is 20
10 : amount is 30
12 : amount is 42
14 : amount is 56
16 : amount is 72
18 : amount is 90
20 : amount is 110
finished loop by condition
total amount 110

In [37]:
i = 0
total_amount = 0

while total_amount < 100:
    i += 2
    total_amount += i
    print(i, ": amount is", total_amount)
    if i >= 7:
        break
else:
    print("finished loop by condition")

print("total amount", total_amount)

2 : amount is 2
4 : amount is 6
6 : amount is 12
8 : amount is 20
total amount 20

In [38]:
for k in range(5):
    for j in range(3):
        print(k, j)

0 0
0 1
0 2
1 0
1 1
1 2
2 0
2 1
2 2
3 0
3 1
3 2
4 0
4 1
4 2

In [40]:
for k in range(5):
    for j in range(3):
        if j == 2:
            break
        print(k, j)

0 0
0 1
1 0
1 1
2 0
2 1
3 0
3 1
4 0
4 1

In [41]:
for k in range(5):
    for j in range(10):
        if j == 2:
            break
        print(k, j)

0 0
0 1
1 0
1 1
2 0
2 1
3 0
3 1
4 0
4 1

In [42]:
strings_list = [
    "hello world",
    "apples",
    "oranges",
    "apples",
    "spam and eggs",
    "spam",
    "fizzbuzz",
    "spam and eggs",
    "oranges",
    "spam",
]
print(strings_list)

['hello world', 'apples', 'oranges', 'apples', 'spam and eggs', 'spam', 'fizzbuzz', 'spam and eggs', 'oranges', 'spam']

In [43]:
set(strings_list)

{'apples', 'fizzbuzz', 'hello world', 'oranges', 'spam', 'spam and eggs'}

In [44]:
list(set(strings_list))

['spam and eggs', 'oranges', 'apples', 'fizzbuzz', 'spam', 'hello world']

In [45]:
known_strings = set()

for string in strings_list:
    if string in known_strings:
        continue
    print("found a new string:", string)
    known_strings.add(string)

found a new string: hello world
found a new string: apples
found a new string: oranges
found a new string: spam and eggs
found a new string: spam
found a new string: fizzbuzz

In [46]:
known_strings

{'apples', 'fizzbuzz', 'hello world', 'oranges', 'spam', 'spam and eggs'}

In [47]:
known_strings == set(strings_list)

True

In [48]:
known_strings is set(strings_list)

False

In [49]:
known_strings = set()

for string in strings_list:
    if string in known_strings:
        continue
    print("found a new string:", string)
    known_strings.add(string)
else:
    print("processed all items")

found a new string: hello world
found a new string: apples
found a new string: oranges
found a new string: spam and eggs
found a new string: spam
found a new string: fizzbuzz
processed all items

In [50]:
i = 0
while i < 10:
    i += 1
    if i % 2:
        print(i, i ** 2)
        continue
    print("even number", i)
    print(i ** 3)
    print("--")
else:
    print("finished by condition")

1 1
even number 2
8
--
3 9
even number 4
64
--
5 25
even number 6
216
--
7 49
even number 8
512
--
9 81
even number 10
1000
--
finished by condition

In [51]:
def my_func():
    print("hello my func")
print("defined my func", my_func)

defined my func <function my_func at 0x10d956ca0>

In [52]:
my_func

In [53]:
my_func()

hello my func

In [54]:
def foo():
    1 + 2

In [55]:
foo()

In [56]:
def foo():
    return 1 + 2

In [57]:
foo()

3

In [58]:
def f(x):
    return x * 2

In [59]:
f(2)

4

In [60]:
f(4)

8

In [61]:
f("foo")

'foofoo'

In [62]:
f(1.5)

3.0

In [63]:
def hello(name="World"):
    print("Hello", name)

In [64]:
hello()

Hello World

In [65]:
hello("Suren")

Hello Suren

In [66]:
hello()

Hello World

In [67]:
hello("John")

Hello John

In [68]:
hello(name="Sam")

Hello Sam

In [69]:
def get_sum(a, b):
    return a + b

In [70]:
get_sum(1, 2)

3

In [71]:
get_sum(5, 10)

15

In [72]:
get_sum("foo", "bar")

'foobar'

In [73]:
def get_pow(*numbers, power=2):
    print("process numbers", numbers, "with power", power)
    results = []
    for num in numbers:
        results.append(num ** power)
    return results

In [74]:
get_pow(2)

process numbers (2,) with power 2

[4]

In [75]:
get_pow(3,4,5)

process numbers (3, 4, 5) with power 2

[9, 16, 25]

In [76]:
get_pow(3,4,5, 6,7,8,9)

process numbers (3, 4, 5, 6, 7, 8, 9) with power 2

[9, 16, 25, 36, 49, 64, 81]

In [77]:
get_pow(3,4,5, 6,7,8,9, power=3)

process numbers (3, 4, 5, 6, 7, 8, 9) with power 3

[27, 64, 125, 216, 343, 512, 729]

In [78]:
get_pow(3,4,5, power=3)

process numbers (3, 4, 5) with power 3

[27, 64, 125]

In [79]:
numbers = get_pow(3,4,5, power=3)
print(numbers)

process numbers (3, 4, 5) with power 3
[27, 64, 125]

In [81]:
nums = get_pow(3,4,5,6, power=3)
print(nums)

get_pow(*nums, power=4)

process numbers (3, 4, 5, 6) with power 3
[27, 64, 125, 216]
process numbers (27, 64, 125, 216) with power 4

[531441, 16777216, 244140625, 2176782336]

In [82]:
get_pow(*nums, 1, 2, power=2)

process numbers (27, 64, 125, 216, 1, 2) with power 2

[729, 4096, 15625, 46656, 1, 4]

In [83]:
get_pow(*range(5))

process numbers (0, 1, 2, 3, 4) with power 2

[0, 1, 4, 9, 16]

In [84]:
print(get_pow(*range(5)))
print(get_pow(0, 1, 2, 3, 4))

process numbers (0, 1, 2, 3, 4) with power 2
[0, 1, 4, 9, 16]
process numbers (0, 1, 2, 3, 4) with power 2
[0, 1, 4, 9, 16]

In [85]:
def new_sequence_with(element, seq=[]):
    seq.append(element)
    return seq

In [86]:
new_sequence_with(456, [123])

[123, 456]

In [87]:
new_sequence_with("abc")

['abc']

In [88]:
new_sequence_with("foobar")

['abc', 'foobar']

In [89]:
new_sequence_with("spam and eggs")

['abc', 'foobar', 'spam and eggs']

In [90]:
def new_seq_with(element, seq=None):
    if seq is None:
        seq = []
    seq.append(element)
    return seq

In [91]:
new_seq_with("qwe")

['qwe']

In [92]:
new_seq_with("abc")

['abc']

In [93]:
new_seq_with("eggs", ["spam"])

['spam', 'eggs']

In [94]:
new_seq_with(543)

[543]

In [95]:
x = 123

def show_x():
    print(x)

In [96]:
show_x()

123

In [97]:
x = 456
show_x()

456

In [98]:
def show_x(x):
    print(x * 2)

In [99]:
x

456

In [100]:
show_x(123)

246

In [101]:
show_x(x)

912

In [102]:
def show_x(x):
    # x = x * 2
    x *= 2
    return x

In [103]:
show_x(123)

246

In [104]:
x

456

In [105]:
show_x(x)

912

In [106]:
x

456

In [107]:
def create_x(power):
    x = 2 ** power
    return x

In [108]:
x

456

In [109]:
create_x(2)

4

In [110]:
x

456

In [111]:
names = ["John", "Sam", "Kate", "Bob"]
print(names)

['John', 'Sam', 'Kate', 'Bob']

In [112]:
def find_string_starting_with(starts_with_str, list_of_strings):
    text = starts_with_str.lower()
    for string in list_of_strings:
        if string.lower().startswith(text):
            return string

In [113]:
find_string_starting_with("k", names)

'Kate'

In [114]:
find_string_starting_with("K", names)

'Kate'

In [115]:
find_string_starting_with("kA", names)

'Kate'

In [116]:
find_string_starting_with("j", names)

'John'

In [117]:
names.append("Sara")
print(names)

['John', 'Sam', 'Kate', 'Bob', 'Sara']

In [118]:
find_string_starting_with("s", names)

'Sam'

In [119]:
find_string_starting_with("sa", names)

'Sam'

In [120]:
find_string_starting_with("sar", names)

'Sara'

In [121]:
baz = "foobar"

In [122]:
baz.startswith('foo')

True

In [123]:
baz.startswith("foo")

True

In [124]:
baz.startswith("foobar")

True

In [125]:
baz.startswith("f")

True

In [126]:
baz

'foobar'

In [127]:
baz.startswith("oobar")

False

In [128]:
baz.startswith("o")

False

In [129]:
name = "Sara"

In [130]:
name

'Sara'

In [131]:
name.lower()

'sara'

In [132]:
name[0]

'S'

In [133]:
name[:3]

'Sar'

In [134]:
def find_value(numbers):
    for number in numbers:
        if number == 0:
            continue
        if number % 3 == 0 and number % 5 == 0:
            return "FizzBuzz", number
        if number % 5 == 0:
            return "Fizz", number
        if number % 3 == 0:
            return "Buzz", number

In [135]:
find_value([1, 2, 4])

In [136]:
find_value([1, 2, 3, 4])

('Buzz', 3)

In [137]:
find_value([1, 2, 5, 4])

('Fizz', 5)

In [138]:
find_value([1, 2, 25, 4])

('Fizz', 25)

In [139]:
find_value([1, 2, 15, 4])

('FizzBuzz', 15)

In [140]:
find_value([1, 0, 15, 4])

('FizzBuzz', 15)