In [1]:
cities = ["Москва", "Анапа", "Сочи", "Санкт-Петербург"]
print(cities)

['Москва', 'Анапа', 'Сочи', 'Санкт-Петербург']

In [2]:
for city in cities:
    print(city)

Москва
Анапа
Сочи
Санкт-Петербург

In [3]:
for city in cities:
    print("process city", city)
    if len(city) < 5:
        print("city < 5", city)
        break
    print("next iteration..")

process city Москва
next iteration..
process city Анапа
next iteration..
process city Сочи
city < 5 Сочи

In [4]:
fruits = ["apples", "bananas", "oranges"]
print(fruits)

['apples', 'bananas', 'oranges']

In [5]:
for fruit in fruits:
    print("process fruit", fruit)
    if len(fruit) < 5:
        print("breaking on", fruit)
        break
    print("next iteration..")

process fruit apples
next iteration..
process fruit bananas
next iteration..
process fruit oranges
next iteration..

In [6]:
fruits.append("figs")
print(fruits)

['apples', 'bananas', 'oranges', 'figs']

In [7]:
for fruit in fruits:
    print("process fruit", fruit)
    if len(fruit) < 5:
        print("breaking on", fruit)
        break
    print("next iteration..")

process fruit apples
next iteration..
process fruit bananas
next iteration..
process fruit oranges
next iteration..
process fruit figs
breaking on figs

In [8]:
for fruit in fruits:
    print("process fruit", fruit)
    if len(fruit) < 5:
        break
else:
    print("end of loop, no break")

process fruit apples
process fruit bananas
process fruit oranges
process fruit figs

In [9]:
for fruit in fruits:
    print("process fruit", fruit)
    if len(fruit) < 4:
        break
else:
    print("end of loop, no break")

process fruit apples
process fruit bananas
process fruit oranges
process fruit figs
end of loop, no break

In [10]:
for city in cities:
    print("city", city)
    if len(city) < 5:
        break
else:
    print("no city < 5")

city Москва
city Анапа
city Сочи

In [11]:
for city in cities:
    print("city", city)
    if len(city) > 10:
        break
else:
    print("no city > 10")

city Москва
city Анапа
city Сочи
city Санкт-Петербург

In [12]:
for city in cities:
    print("city", city)
    if len(city) > 20:
        break
else:
    print("no city > 20")

city Москва
city Анапа
city Сочи
city Санкт-Петербург
no city > 20

In [13]:
for i in range(5):
    print(i)
else:
    print("done")

0
1
2
3
4
done

In [14]:
for i in range(5):
    print(i)

print("done")

0
1
2
3
4
done

In [15]:
power = 0
value = 0

while value < 10000:
    # power = power + 1
    power += 1
    value = 2 ** power
    print("value =", value, "when power is", power)

print("result 2 ^", power, "=", value)

value = 2 when power is 1
value = 4 when power is 2
value = 8 when power is 3
value = 16 when power is 4
value = 32 when power is 5
value = 64 when power is 6
value = 128 when power is 7
value = 256 when power is 8
value = 512 when power is 9
value = 1024 when power is 10
value = 2048 when power is 11
value = 4096 when power is 12
value = 8192 when power is 13
value = 16384 when power is 14
result 2 ^ 14 = 16384

In [16]:
2 ** 14

16384

In [17]:
i = 0
total_amount = 0

while total_amount < 100:
    i += 1
    total_amount += i
    print(i, ": amount is", total_amount)
else:
    print("loop finished by condition")

1 : amount is 1
2 : amount is 3
3 : amount is 6
4 : amount is 10
5 : amount is 15
6 : amount is 21
7 : amount is 28
8 : amount is 36
9 : amount is 45
10 : amount is 55
11 : amount is 66
12 : amount is 78
13 : amount is 91
14 : amount is 105
loop finished by condition

In [18]:
i = 0
total_amount = 0

while total_amount < 100:
    i += 1
    total_amount += i
    print(i, ": amount is", total_amount)
    if i == 7:
        break
else:
    print("loop finished by condition")

1 : amount is 1
2 : amount is 3
3 : amount is 6
4 : amount is 10
5 : amount is 15
6 : amount is 21
7 : amount is 28

In [19]:
i = 0
total_amount = 0

while total_amount < 100:
    i += 2
    total_amount += i
    print(i, ": amount is", total_amount)
    if i == 7:
        break
else:
    print("loop finished by condition")

2 : amount is 2
4 : amount is 6
6 : amount is 12
8 : amount is 20
10 : amount is 30
12 : amount is 42
14 : amount is 56
16 : amount is 72
18 : amount is 90
20 : amount is 110
loop finished by condition

In [20]:
i = 0
total_amount = 0

while total_amount < 100:
    i += 2
    total_amount += i
    print(i, ": amount is", total_amount)
    if i >= 7:
        break
else:
    print("loop finished by condition")

2 : amount is 2
4 : amount is 6
6 : amount is 12
8 : amount is 20

In [21]:
i = 0
total_amount = 0

while total_amount < 100:
    i += 1
    total_amount += i
    print(i, ": amount is", total_amount)
    if i >= 7:
        break
else:
    print("loop finished by condition")

1 : amount is 1
2 : amount is 3
3 : amount is 6
4 : amount is 10
5 : amount is 15
6 : amount is 21
7 : amount is 28

In [22]:
for k in range(5):
    for j in range(3):
        print(k, j)

0 0
0 1
0 2
1 0
1 1
1 2
2 0
2 1
2 2
3 0
3 1
3 2
4 0
4 1
4 2

In [23]:
for k in range(5):
    for j in range(3):
        if j == 2:
            break
        print(k, j)

0 0
0 1
1 0
1 1
2 0
2 1
3 0
3 1
4 0
4 1

In [24]:
strings_list = [
    "hello world",
    "apple",
    "spam and eggs",
    "apple",
    "foo bar",
    "foo bar",
    "oranges",
    "fizzbuzz",
    "oranges",
    "hello world",
]

print(strings_list)

['hello world', 'apple', 'spam and eggs', 'apple', 'foo bar', 'foo bar', 'oranges', 'fizzbuzz', 'oranges', 'hello world']

In [25]:
print(list(set(strings_list)))

['oranges', 'spam and eggs', 'foo bar', 'hello world', 'fizzbuzz', 'apple']

In [27]:
set(strings_list)

{'apple', 'fizzbuzz', 'foo bar', 'hello world', 'oranges', 'spam and eggs'}

In [28]:
known_strings = set()

for string in strings_list:
    if string in known_strings:
        continue
    print("found a new string:", string)
    known_strings.add(string)

found a new string: hello world
found a new string: apple
found a new string: spam and eggs
found a new string: foo bar
found a new string: oranges
found a new string: fizzbuzz

In [29]:
known_strings = set()

for string in strings_list:
    if string in known_strings:
        continue
    print("found a new string:", string)
    known_strings.add(string)
else:
    print("all items processed")

found a new string: hello world
found a new string: apple
found a new string: spam and eggs
found a new string: foo bar
found a new string: oranges
found a new string: fizzbuzz
all items processed

In [32]:
i = 0
while i < 10:
    i += 1
    if i % 2:
        print(i, i ** 2)
        continue
    print("even number", i)
    print(i, i ** 3)
else:
    print("finished by condition")

1 1
even number 2
2 8
3 9
even number 4
4 64
5 25
even number 6
6 216
7 49
even number 8
8 512
9 81
even number 10
10 1000
finished by condition

In [33]:
def my_func():
    pass

print("defined my func:", my_func)

defined my func: <function my_func at 0x1055b9940>

In [34]:
my_func()

In [35]:
print(my_func())

None

In [36]:
def f(x):
    return x * 2
f(1)

2

In [37]:
f(2)

4

In [38]:
f(3)

6

In [39]:
f("bar")

'barbar'

In [40]:
f(123)

246

In [41]:
def hello(name="world"):
    print("Hello", name)

In [42]:
hello

In [43]:
hello()

Hello world

In [44]:
hello("Suren")

Hello Suren

In [45]:
hello(name="Ivan")

Hello Ivan

In [46]:
def get_sum(a, b):
    return a + b

In [48]:
get_sum(1, 2)

3

In [49]:
get_sum("spam", " and eggs")

'spam and eggs'

In [50]:
def get_pow(*numbers, power=2):
    print("process numbers", numbers, "with power", power)
    results = []
    for num in numbers:
        results.append(num ** power)
    return results

In [51]:
get_pow(1)

process numbers (1,) with power 2

[1]

In [52]:
get_pow(1, 2, 3)

process numbers (1, 2, 3) with power 2

[1, 4, 9]

In [53]:
get_pow(1, 2, 3, 4, 5, 6)

process numbers (1, 2, 3, 4, 5, 6) with power 2

[1, 4, 9, 16, 25, 36]

In [54]:
get_pow(1, 2, 3, 4, 5, 6, power=3)

process numbers (1, 2, 3, 4, 5, 6) with power 3

[1, 8, 27, 64, 125, 216]

In [55]:
results = get_pow(1, 2, 3, 4)
print(results)

process numbers (1, 2, 3, 4) with power 2
[1, 4, 9, 16]

In [57]:
get_pow(*results)

process numbers (1, 4, 9, 16) with power 2

[1, 16, 81, 256]

In [58]:
get_pow(*results, 3)

process numbers (1, 4, 9, 16, 3) with power 2

[1, 16, 81, 256, 9]

In [59]:
get_pow(*results, power=3)

process numbers (1, 4, 9, 16) with power 3

[1, 64, 729, 4096]

In [60]:
def new_sequence_with(element, seq=[]):
    seq.append(element)
    return seq

In [61]:
new_sequence_with(456, [123])

[123, 456]

In [62]:
new_sequence_with("qwe")

['qwe']

In [63]:
new_sequence_with("foobar")

['qwe', 'foobar']

In [64]:
new_sequence_with("fizzbuzz")

['qwe', 'foobar', 'fizzbuzz']

In [65]:
def new_seq_with(element, seq=None):
    if seq is None:
        seq = []
    seq.append(element)
    return seq

In [66]:
new_seq_with("qwe")

['qwe']

In [67]:
new_seq_with("foo")

['foo']

In [68]:
new_seq_with("bar")

['bar']

In [69]:
new_seq_with(543, [789])

[789, 543]

In [70]:
new_seq_with("abc")

['abc']

In [71]:
x = 123

def show_x():
    print(x)

In [72]:
show_x()

123

In [73]:
x = 456
show_x()

456

In [74]:
def show_x(x):
    print(x)

In [75]:
x = 123

show_x(x)

123

In [76]:
show_x("456")

456

In [77]:
x

123

In [78]:
def create_and_show_x():
    x = "abc"
    print(x)
    return x

In [79]:
create_and_show_x()

abc

'abc'

In [80]:
x

123

In [85]:
def show_x():
    print("x in global scope:", x)
    return x

In [86]:
show_x()

x in global scope: 123

123

In [87]:
def create_and_show_x():
    x = "qwe"
    print(x)
    return x

In [88]:
create_and_show_x()

qwe

'qwe'

In [89]:
show_x()

x in global scope: 123

123

In [90]:
x = 567

In [91]:
show_x()

x in global scope: 567

567

In [92]:
def create_and_show_x(value):
    x = "qwe" * value
    print(x)
    return x

In [93]:
create_and_show_x(2)

qweqwe

'qweqwe'

In [94]:
x

567

In [95]:
names = ["John", "Sam", "Kate", "Bob"]
print(names)

['John', 'Sam', 'Kate', 'Bob']

In [96]:
def find_str_starting_with(starts_with_str, list_of_strings):
    text = starts_with_str.lower()
    for string in list_of_strings:
        if string.lower().startswith(text):
            return string

In [97]:
find_str_starting_with('s', names)

'Sam'

In [98]:
find_str_starting_with('kA', names)

'Kate'

In [99]:
names.append("Sara")
print(names)

['John', 'Sam', 'Kate', 'Bob', 'Sara']

In [100]:
find_str_starting_with('s', names)

'Sam'

In [101]:
find_str_starting_with('sar', names)

'Sara'

In [102]:
baz = "foobar"
baz.startswith("f")

True

In [103]:
baz.startswith("foo")

True

In [104]:
baz.startswith("foobar")

True

In [105]:
baz

'foobar'

In [107]:
baz[0] == "f"

True

In [108]:
baz[:2]

'fo'

In [109]:
baz[:2] == "fo"

True

In [110]:
baz.startswith("fo")

True

In [111]:
def find_value(numbers):
    for number in numbers:
        if number % 3 == 0 and number % 5 == 0:
            return "FizzBuzz", number
        if number % 5 == 0:
            return "Fizz", number
        if number % 3 == 0:
            return "Buzz", number

In [112]:
find_value(list(range(10)))

('FizzBuzz', 0)

In [113]:
def find_value(numbers):
    for number in numbers:
        if number == 0:
            continue
        if number % 3 == 0 and number % 5 == 0:
            return "FizzBuzz", number
        if number % 5 == 0:
            return "Fizz", number
        if number % 3 == 0:
            return "Buzz", number

In [114]:
find_value(range(10))

('Buzz', 3)

In [115]:
find_value(range(1, 10, 2))

('Buzz', 3)

In [116]:
find_value(range(2, 10, 2))

('Buzz', 6)

In [117]:
find_value(range(2, 10, 3))

('Fizz', 5)